<template>
    <!-- seccion footer  del landing -->
    <b-container fluid class="contenedor-principal-footer">
        <b-row class="contenedor-estilo-movil">
            <b-col cols="12" md="3" lg="3" class="ingresar-movil">
                <div class="contenedor-ingresar-movil">
                    <h1>Ingresar</h1>
                    <h2>Registrarse</h2>
                    <h3>iniciar sesión</h3>
                </div>
            </b-col>
            <b-col  cols="12" md="3" lg="3" class="ubicacion-movil">
                <div class="contenedor-ubicacion-movil">
                    <h1>Ubicación</h1>
                    <h2>Av. Altos del Jardín,</h2>
                    <h3>Casa #12, Bucaramanga, Colombia</h3>
                </div>
            </b-col>
            <b-col  cols="12" md="3" lg="3" class="contacto-movil">
                <div class="contenedor-contacto-movil">
                    <h1>Contácto</h1>
                    <h2>+57 304 460 2502</h2>
                    <h3>+57 (7) 690 9022</h3>
                    <h4>hola@pradek.co</h4>
                </div>
            </b-col>
            <b-col  cols="12" md="3" lg="3" class="redes-movil">
                <div class="contenedor-redes-movil">
                    <img class="logo-wabot" src="../assets/Wabot/Wabot blanco.svg" alt="">
                    <h2>Síguenos</h2>
                    <div class="contenedor-redes">
                        <button class="facebook">
                            <img src="../assets/Wabot/Redes facebook normal.svg" alt="">
                            <img src="../assets/Wabot/Redes facebook hover.svg" alt="">
                        </button>
                        <button class="linkedin">
                            <img src="../assets/Wabot/Redes linkedin normal.svg" alt="">
                            <img src="../assets/Wabot/Redes linkedin hover.svg" alt="">
                        </button>
                        <button class="youtube">
                            <img src="../assets/Wabot/Redes youtube normal.svg" alt="">
                            <img src="../assets/Wabot/Redes youtube hover.svg" alt="">
                        </button>
                        <button class="twitter">
                            <img src="../assets/Wabot/Redes twitter normal.svg" alt="">
                            <img src="../assets/Wabot/Redes twitter hover.svg" alt="">
                        </button>
                    </div>
                </div>
            </b-col>
            <b-col  cols="12" class="p-0">
                <div class="linea-separadora"></div>
            </b-col>
            <b-col  cols="12" class="politicas-movil">
                <div class="contenedor-politicas-movil">
                    <p>Copyright© 2020 Systemico® - Agile Software Factory. Lee nuestra <a href="">Política de Privacidad y Términos de Uso.</a></p>
                </div>
            </b-col>
        </b-row>
    </b-container>
</template>

<script>
export default {
  name: 'Footer',
  mounthed () {
    this.AjusteResponsive()
  },
  created () {
    window.addEventListener('resize', this.AjusteResponsive)
  },
  destroyed () {
    window.removeEventListener('resize', this.AjusteResponsive)
  },
  methods: {
    AjusteResponsive () {
      var ancho = screen.width
      var contenedor = document.getElementsByClassName('contenedor-principal-footer')
      if (ancho >= 780) {
        contenedor[0].classList.add('escritorio')
      } else {
        contenedor[0].classList.remove('escritorio')
      }
    }
  }
}
</script>

<style scoped lang="scss">
.contenedor-principal-footer {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    border: 0;
    border-radius: 0;
    background-color: transparent;

    .contenedor-estilo-movil {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        border: 0;
        border-radius: 0;
        background-color: #313E4D;

        .ingresar-movil {
            width: 100%;
            height: auto;
            margin: 40px 0 0 0;
            padding: 0;
            border: 0;
            border-radius: 0;
            background-color: transparent;
            justify-content: center;
            display: flex;

            .contenedor-ingresar-movil {
                width: auto;
                height: auto;
                margin: 0;
                padding: 0;
                border: 0;
                border-radius: 0;
                background-color: transparent;
                display: block;

                h1 {
                    text-align: center;
                    font-size: 16px;
                    font-weight: 400;
                    color: #F8F9FC;
                }
                h2 {
                    text-align: center;
                    font-size: 16px;
                    font-weight: 400;
                    color: #6F88A6;
                }
                h3 {
                    text-align: center;
                    font-size: 16px;
                    font-weight: 400;
                    color: #6F88A6;
                }
            }
        }
        .ubicacion-movil {
            width: 100%;
            height: auto;
            margin: 0;
            padding: 0;
            border: 0;
            border-radius: 0;
            background-color: transparent;
            justify-content: center;
            display: flex;

            .contenedor-ubicacion-movil {
                width: auto;
                height: auto;
                margin: 0;
                padding: 0;
                border: 0;
                border-radius: 0;
                background-color: transparent;
                display: block;

                h1 {
                    text-align: center;
                    font-size: 16px;
                    font-weight: 400;
                    color: #F8F9FC;
                }
                h2 {
                    text-align: center;
                    font-size: 16px;
                    font-weight: 400;
                    color: #6F88A6;
                }
                h3 {
                    text-align: center;
                    font-size: 16px;
                    font-weight: 400;
                    color: #6F88A6;
                }
            }
        }
        .contacto-movil {
            width: 100%;
            height: auto;
            margin: 0;
            padding: 0;
            border: 0;
            border-radius: 0;
            background-color: transparent;
            display: flex;
            justify-content: center;

            .contenedor-contacto-movil {
                width: auto;
                height: auto;
                margin: 0;
                padding: 0;
                border: 0;
                border-radius: 0;
                background-color: transparent;
                display: block;

                h1 {
                    text-align: center;
                    font-size: 16px;
                    font-weight: 400;
                    color: #F8F9FC;
                }
                h2 {
                    text-align: center;
                    font-size: 16px;
                    font-weight: 400;
                    color: #6F88A6;
                }
                h3 {
                    text-align: center;
                    font-size: 16px;
                    font-weight: 400;
                    color: #6F88A6;
                }
                h4 {
                    text-align: center;
                    font-size: 16px;
                    font-weight: 400;
                    color: #6F88A6;
                }
            }
        }
        .redes-movil {
            width: 100%;
            height: auto;
            margin: 0;
            padding: 0;
            border: 0;
            border-radius: 0;
            background-color: transparent;
            display: flex;
            justify-content: center;

            .contenedor-redes-movil {
                width: auto;
                height: auto;
                margin: 0;
                padding: 0;
                border: 0;
                border-radius: 0;
                background-color: transparent;
                display: block;

                .logo-wabot {
                    width: auto;
                    height: auto;
                    margin: 0 0 30px 0 ;
                    padding: 0;
                    border: 0;
                    border-radius: 0;
                    background-color: transparent;
                }
                h2 {
                    text-align: center;
                    font-size: 16px;
                    font-weight: 400;
                    color: #F8F9FC;
                }
                .contenedor-redes {
                    width: auto;
                    height: auto;
                    margin: 0;
                    padding: 0;
                    border: 0;
                    border-radius: 0;
                    background-color: transparent;
                    display: flex;
                    justify-content: center;

                    .facebook {
                        width: 28px;
                        height: 28px;
                        margin: 8px 13px 0 0;
                        padding: 0;
                        border: 0;
                        border-radius: 0;
                        background-color: transparent;

                        & > :nth-child(2) {
                            display: none;
                        }

                        &:hover {
                            & > :nth-child(1) {
                                display: none;
                            }

                            & > :nth-child(2) {
                                display: block;
                            }
                        }
                    }
                    .linkedin {
                        width: 28px;
                        height: 28px;
                        margin: 8px 13px 0 0;
                        padding: 0;
                        border: 0;
                        border-radius: 0;
                        background-color: transparent;

                        & > :nth-child(2) {
                            display: none;
                        }

                        &:hover {
                            & > :nth-child(1) {
                                display: none;
                            }

                            & > :nth-child(2) {
                                display: block;
                            }
                        }
                    }
                    .youtube {
                        width: 28px;
                        height: 28px;
                        margin: 8px 13px 0 0;
                        padding: 0;
                        border: 0;
                        border-radius: 0;
                        background-color: transparent;

                        & > :nth-child(2) {
                            display: none;
                        }

                        &:hover {
                            & > :nth-child(1) {
                                display: none;
                            }

                            & > :nth-child(2) {
                                display: block;
                            }
                        }
                    }
                    .twitter {
                        width: 28px;
                        height: 28px;
                        margin: 8px 0 0 0;
                        padding: 0;
                        border: 0;
                        border-radius: 0;
                        background-color: transparent;

                        & > :nth-child(2) {
                            display: none;
                        }

                        &:hover {
                            & > :nth-child(1) {
                                display: none;
                            }

                            & > :nth-child(2) {
                                display: block;
                            }
                        }
                    }
                }
            }
        }
        .linea-separadora {
            width: 100%;
            height: 1px;
            margin: 46px 0 30px 0;
            padding: 0;
            border: 0;
            border-radius: 0;
            background-color: #6F88A6;
        }
        .politicas-movil {
            width: 100%;
            height: auto;
            margin: 0;
            padding: 0;
            border: 0;
            border-radius: 0;
            background-color: transparent;
            display: flex;
            justify-content: center;

            .contenedor-politicas-movil {
                width: auto;
                height: auto;
                margin: 0;
                padding: 0;
                border: 0;
                border-radius: 0;
                background-color: transparent;

                p {
                    text-align: center;
                    font-size: 12px;
                    font-weight: 400;
                    color: #7686A2;
                }
                a {
                    text-align: center;
                    font-size: 12px;
                    font-weight: 400;
                    color: #8D69E9;
                }
            }
        }
    }
}
.escritorio {

    .contenedor-estilo-movil {
        height: 400px !important;
        .ingresar-movil {
            margin: 97px 0 0 0;
        }
        .ubicacion-movil {
            margin: 97px 0 0 0 !important;
        }
        .contacto-movil {
            margin: 97px 0 0 0 !important;
        }
        .redes-movil {
            margin: 97px 0 0 0 !important;
        }
    }
}
</style>
