<template>
    <!-- contenedor principal de beneficios -->
    <b-container class="contenedor-principal-beneficios">
        <b-row class="contenido-beneficios-movil">
            <b-col cols="12" class="titulo-beneficios">
                <h1>Beneficios</h1>
            </b-col>
            <b-col cols="12" class="beneficio">
                <div class="contenedor-beneficio">
                    <div class="imagen-beneficio">
                        <img src="../assets/Wabot/Beneficio 01.svg" alt="">
                    </div>
                    <div class="parrafo-beneficio">
                        <p>Optimización, agilidad y sencillez en la atención.</p>
                    </div>
                </div>
            </b-col>
            <b-col cols="12" class="beneficio">
                <div class="contenedor-beneficio-2">
                    <div class="imagen-beneficio">
                        <img src="../assets/Wabot/Beneficio 02.svg" alt="">
                    </div>
                    <div class="parrafo-beneficio">
                        <p>Automatización de la atención al cliente 24/7.</p>
                    </div>
                </div>
            </b-col>
            <b-col cols="12" class="beneficio">
                <div class="contenedor-beneficio">
                    <div class="imagen-beneficio">
                        <img src="../assets/Wabot/Beneficio 03.svg" alt="">
                    </div>
                    <div class="parrafo-beneficio">
                        <p>Personal disponible para atender otras tareas de la empresa.</p>
                    </div>
                </div>
            </b-col>
            <b-col cols="12" class="rayas-moradas">
                <img src="../assets/Wabot/Fondo 03.svg" alt="">
            </b-col>
        </b-row>
    </b-container>
</template>

<script>
export default {
  name: 'seccion3',
  mounthed () {
    this.AjusteResponsive()
  },
  created () {
    window.addEventListener('resize', this.AjusteResponsive)
  },
  destroyed () {
    window.removeEventListener('resize', this.AjusteResponsive)
  },
  methods: {
    AjusteResponsive () {
      var ancho = screen.width
      var contenedor = document.getElementsByClassName('contenedor-principal-beneficios')
      if (ancho >= 780) {
        contenedor[0].classList.add('escritorio')
      } else {
        contenedor[0].classList.remove('escritorio')
      }
    }
  }
}
</script>

<style scoped lang="scss">
.contenedor-principal-beneficios {
    width: 100%;
    min-width: 100%;
    height: 60%;
    margin: 0;
    padding: 0;
    border: 0;
    border-radius: 0;
    background-color: transparent;

    .contenido-beneficios-movil {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        border: 0;
        border-radius: 0;
        background-color: transparent;
        display: flex;
        justify-content: center;

        .titulo-beneficios {
            width: 100%;
            height: auto;
            margin: 61px 0 0 0;
            padding: 0;
            border: 0;
            border-radius: 0;
            background-color: transparent;
            display: flex;
            justify-content: center;

            h1 {
                text-align: center;
                font-size: 38px;
                font-weight: 400;
                color: #375078;
            }
        }
        .beneficio {
            width: 100%;
            height: auto;
            margin: 0;
            padding: 0;
            border: 0;
            border-radius: 0;
            background-color: transparent;
            display: flex;
            justify-content: center;

            .contenedor-beneficio {
                width: 246px;
                height: 220px;
                margin: 49px 0 0 0;
                padding: 0;
                border: 0;
                border-radius: 22px;
                background-color: #F7F8FB;
                box-shadow: 7px 7px 5px #00000026;
                display: block;

                .imagen-beneficio {
                    width: 100%;
                    height: 120px;
                    margin: 0;
                    padding: 0;
                    border: 0;
                    border-radius: 0;
                    background-color: transparent;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                .parrafo-beneficio {
                    width: 100%;
                    height: 90px;
                    margin: 0;
                    padding: 0;
                    border: 0;
                    border-radius: 0;
                    background-color: transparent;
                    align-items: center;
                    display: flex;
                    p {
                        text-align: center;
                        font-size: 16px;
                        font-weight: 400;
                        color: #656565;
                    }
                }
            }
        }
        .beneficio {
            width: 100%;
            height: auto;
            margin: 0;
            padding: 0;
            border: 0;
            border-radius: 0;
            background-color: transparent;
            display: flex;
            justify-content: center;

            .contenedor-beneficio-2 {
                width: 246px;
                height: 220px;
                margin: 44px 0 0 0;
                padding: 0;
                border: 0;
                border-radius: 22px;
                background-color: #F7F8FB;
                box-shadow: 7px 7px 5px #00000026;

                .imagen-beneficio {
                    width: 100%;
                    height: 120px;
                    margin: 0;
                    padding: 0;
                    border: 0;
                    border-radius: 0;
                    background-color: transparent;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                .parrafo-beneficio {
                    width: 100%;
                    height: 90px;
                    margin: 0;
                    padding: 0;
                    border: 0;
                    border-radius: 0;
                    background-color: transparent;
                    align-items: center;
                    display: flex;
                    p {
                        text-align: center;
                        font-size: 16px;
                        font-weight: 400;
                        color: #656565;
                    }
                }
            }
        }
        .beneficio {
            width: 100%;
            height: auto;
            margin: 0 0 0 0;
            padding: 0;
            border: 0;
            border-radius: 0;
            background-color: transparent;
            display: flex;
            justify-content: center;

            .contenedor-beneficio {
                width: 246px;
                height: 220px;
                margin: 49px 0 0 0;
                padding: 0;
                border: 0;
                border-radius: 22px;
                background-color: #F7F8FB;
                box-shadow: 7px 7px 5px #00000026;

                .imagen-beneficio {
                    width: 100%;
                    height: 120px;
                    margin: 0;
                    padding: 0;
                    border: 0;
                    border-radius: 0;
                    background-color: transparent;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                .parrafo-beneficio {
                    width: 100%;
                    height: 90px;
                    margin: 0;
                    padding: 0;
                    border: 0;
                    border-radius: 0;
                    background-color: transparent;
                    align-items: center;
                    display: flex;
                    p {
                        text-align: center;
                        font-size: 16px;
                        font-weight: 400;
                        color: #656565;
                    }
                }
            }
        }
        .rayas-moradas {
            width: auto;
            height: auto;
            margin: 0;
            padding: 0;
            border: 0;
            border-radius: 0;
            background-color: transparent;
            position: relative;
            display: none;

            img {
                width: 270px;
                height: 250px;
                margin: 0;
                padding: 0;
                border: 0;
                border-radius: 0;
                background-color: transparent;
                position: absolute;
                bottom: 50px;
                right: 1150px;
            }
        }
    }
}
.escritorio {
    .contenido-beneficios-movil {
        background-image: url('../assets/Wabot/Fondo 02.svg');
        background-size: cover;
        .beneficio {
            height: 200px;
            .contenedor-beneficio {
                width: 671px;
                height: 107px;
                display: flex;

                .imagen-beneficio {
                    width: 30%;
                }
                .parrafo-beneficio {
                    width: 70%;
                    justify-content: center;
                }
            }
            .contenedor-beneficio-2 {
                width: 671px;
                height: 107px;
                display: flex;

                .imagen-beneficio {
                    width: 30%;
                }
                .parrafo-beneficio {
                    width: 70%;
                    justify-content: center;
                }
            }
        }
        .rayas-moradas {
            display: flex;
        }
    }
}
</style>
