<template>
    <b-container fluid class="contenedor-principal-inicio">
        <b-row class="contenedor-seccion2-movil">
            <b-col cols="12" class="animacion-inicial">
                <img src="../assets/Wabot/Chat.svg" alt="">
            </b-col>
            <b-col cols="12" class="parrafo-inicio-movil">
                <div class="titulo-inicio"><h1>Descubre la mejor manera de automatizar tus conversaciones</h1></div>
                <p>Brindamos atención oportuna, eficiente y óptima para clientes y usuarios.</p>
            </b-col>
            <b-col cols="12" class="boton-saber-movil">
                <button class="boton-saber">Quiero saber más</button>
            </b-col>
            <b-col class="rayas-moradas">
                <img src="../assets/Wabot/Fondo 01.svg" alt="">
            </b-col>
        </b-row>
    </b-container>
</template>

<script>
export default {
  name: 'seccion2',
  mounthed () {
    this.AjusteResponsive()
  },
  created () {
    window.addEventListener('resize', this.AjusteResponsive)
  },
  destroyed () {
    window.removeEventListener('resize', this.AjusteResponsive)
  },
  methods: {
    AjusteResponsive () {
      var ancho = screen.width
      var contenedor = document.getElementsByClassName('contenedor-principal-inicio')
      if (ancho >= 780) {
        contenedor[0].classList.add('escritorio')
      } else {
        contenedor[0].classList.remove('escritorio')
      }
    }
  }
}
</script>

<style scoped lang="scss">
.contenedor-principal-inicio {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    border: 0;
    border-radius: 0;
    background-color: transparent;

    .contenedor-seccion2-movil {
        width: 100%;
        min-width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        border: 0;
        border-radius: 0;
        background-color: #ffffff;
        box-shadow: 0px 4px 3px #0000001F;

        .animacion-inicial {
            width: 90%;
            height: auto;
            margin: 0;
            padding: 58px 0 0 0;
            border: 0;
            border-radius: 0;
            background-color: transparent;
            display: flex;
            justify-content: center;

            img {
                width: 90%;
                height: 160px;
            }
        }
        .parrafo-inicio-movil {
            width: 100%;
            height: auto;
            margin: 54px 0 0 0;
            padding: 0;
            border: 0;
            border-radius: 0;
            background-color: transparent;
            display: block;

            .titulo-inicio {
                width: 100%;
                height: auto;
                margin: 0 auto 0 auto;
                padding: 0;
                border: 0;
                border-radius: 0;
                background-color: 0;
                display: flex;
                h1 {
                    text-align: center;
                    font-size: 30px;
                    font-weight: 400;
                    color: #375078;
                }
            }
            p {
                text-align: center;
                font-size: 16px;
                font-weight: 400;
                color: #656565;
                display: none;
            }
        }
        .boton-saber-movil {
            width: 100%;
            height: auto;
            margin: 0;
            padding: 0;
            border: 0;
            border-radius: 0;
            background-color: transparent;
            display: flex;
            justify-content: center;

            .boton-saber {
                width: 200px;
                height: 40px;
                margin: 58px 0 75px 0;
                padding: 0;
                border: 0;
                border-radius: 6px;
                background-color: #7139CB;
                text-align: center;
                font-size: 16px;
                font-weight: 400;
                color: #ffffff;
                translate: 0.3seg;

                &:hover {
                    background-color: #ffffff;
                    border: 1px solid #7139CB;
                    color: #7139CB;
                }
            }
        }
        .rayas-moradas {
            width: 100%;
            min-width: 100%;
            height: auto;
            margin: 0;
            padding: 0;
            border: 0;
            border-radius: 0;
            background-color: transparent;
            position: relative;
            display: none;

            img {
                width: 170px;
                height: 250px;
                margin: 0;
                padding: 0;
                border: 0;
                border-radius: 0;
                background-color: transparent;
                position: absolute;
                bottom: 10px;
                left: 1175px;
            }
        }
    }
}
.escritorio {
    .contenedor-seccion2-movil  {
        background-color: #F7F8FB;
        box-shadow: 0px 4px 3px #0000001F !important;
        .parrafo-inicio-movil  {
            height: 100%;
            .titulo-inicio {
                width: 560px;
                margin: 0 auto 33px auto;
            }
            p {
                display: block;
            }
        }
        .boton-saber-movil {
            .boton-saber {
                margin: 37px 0 114px 0;;
            }
        }
        .rayas-moradas {
            display: flex;
        }
    }
}
</style>
