<template>
    <b-container fluid class="m-0 p-0 contenedor-principal">
        <subSeccion1 @pasarSubSeccion3="pasarSubSeccion3" @pasarSubSeccion="pasarSubSeccion" v-if="subEstadoActivo === 'subSeccion1'"/>
        <subSeccion2 @pasarSubSeccion2="pasarSubSeccion2" @volverSubSeccion1="volverSubSeccion1" v-else-if="subEstadoActivo === 'subSeccion2'"/>
        <subSeccion3 @pasarSubSeccion1="pasarSubSeccion1" @volverSubSeccion2="volverSubSeccion2" v-else-if="subEstadoActivo === 'subSeccion3'"/>
    </b-container>
</template>

<script>
import subSeccion1 from '@/components/subSecciones/subSeccion1.vue'
import subSeccion2 from '@/components/subSecciones/subSeccion2.vue'
import subSeccion3 from '@/components/subSecciones/subSeccion3.vue'

export default {
  name: 'seccion4',
  components: {
    subSeccion1,
    subSeccion2,
    subSeccion3
  },
  data () {
    return {
      subEstadoActivo: 'subSeccion1'
    }
  },
  methods: {
    pasarSubSeccion: function () {
      this.subEstadoActivo = 'subSeccion2'
    },
    volverSubSeccion1: function () {
      this.subEstadoActivo = 'subSeccion1'
    },
    pasarSubSeccion2: function () {
      this.subEstadoActivo = 'subSeccion3'
    },
    pasarSubSeccion3: function () {
      this.subEstadoActivo = 'subSeccion3'
    },
    volverSubSeccion2: function () {
      this.subEstadoActivo = 'subSeccion2'
    },
    pasarSubSeccion1: function () {
      this.subEstadoActivo = 'subSeccion1'
    }
  }
}
</script>

<style scoped lang="scss">
.contenedor-principal {
    width: 100%;
    height: 37%;
    margin: 0;
    padding: 0;
    border: 0;
    border-radius: 0;
    background-color: #F7F8FB;
    box-shadow: 0px 4px 3px #0000001F;
}
</style>
