<template>
    <!-- seccion 1 encabezado del landing -->
    <b-container fluid class="contenedor-principal-encabezado">
        <b-row class="contenedor-estilo-movil">
            <b-col sm="5" md="5"  class="logo-wabot-movil">
                <div class="logo-wabot">
                    <img src="../assets/Wabot/Wabot icono.svg" alt="">
                    <img  class="logo-escritotio" src="../assets/Wabot/Wabot.svg" alt="">
                </div>
            </b-col>
            <b-col sm="7" md="7" col="10" class="boton-movil">
                <button class="boton-iniciar" v-on:click="formulario">Ingresar / Registrarse</button>
            </b-col>
        </b-row>
    </b-container>
</template>

<script>
export default {
  name: 'seccion1',
  mounthed () {
    this.AjusteResponsive()
  },
  created () {
    window.addEventListener('resize', this.AjusteResponsive)
  },
  destroyed () {
    window.removeEventListener('resize', this.AjusteResponsive)
  },
  methods: {
    AjusteResponsive () {
      var ancho = screen.width
      var contenedor = document.getElementsByClassName('contenedor-principal-encabezado')
      if (ancho >= 780) {
        contenedor[0].classList.add('escritorio')
      } else {
        contenedor[0].classList.remove('escritorio')
      }
    },
    formulario: function () {
      var modal = document.getElementsByClassName('contenedor-principal-modal-info')

      modal[0].classList.add('d-flex')
    }
  }
}
</script>

<style scoped lang="scss">
.contenedor-principal-encabezado {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    border: 0;
    border-radius: 0;
    background-color: transparent;

    .contenedor-estilo-movil {
        width: 100%;
        height: 84px;
        margin: 0;
        padding: 0;
        border: 0;
        border-radius: 0;
        background-color: #ffffff;
        box-shadow: 0px 3px 6px #00000029;
        justify-content: center;
        align-items: center;

        .logo-wabot-movil {
            width: 95px;
            max-width: auto;
            height: 50px;
            margin: 0;
            padding: 0;
            border: 0;
            border-radius: 0;
            background-color: transparent;

            .logo-wabot {
                width: auto;
                height: auto;
                margin: 0;
                padding: 0;
                border: 0;
                border-radius: 0;
                background-color: transparent;
                display: flex;
                align-items: center;
                justify-content: center;

                img {
                    width: 35px;
                    height: 35px;
                    margin: 0;
                    padding: 0;
                    border: 0;
                    border-radius: 0;
                    background-color: transparent;
                }
                .logo-escritotio {
                    width: auto;
                    height: auto;
                    margin: 0;
                    padding: 0;
                    border: 0;
                    border-radius: 0;
                    display: none;

                    img {
                        width: 155px;
                        height: 40px;
                        margin: 0;
                        padding: 0;
                        border: 0;
                        border-radius: 0;
                        background-color: transparent;
                    }
                }
            }
        }

        .boton-movil {
            width: 100%;
            height: 84px;
            margin: 0 auto 0 0;
            padding: 0;
            border: 0;
            border-radius: 0;
            background-color: transparent;
            display: flex;
            align-items: center;
            justify-content: center;

            .boton-iniciar {
                width: 200px;
                height: 40px;
                margin: 0;
                padding: 0;
                border: 1px solid #7139CB;
                border-radius: 6px;
                background-color: #ffffff;
                text-align: center;
                font-size: 16px;
                font-weight: 400;
                color: #7139CB;

                &:hover {
                    background-color: #7139CB;
                    border: 1px solid #ffffff;
                    color: #ffffff;
                    translate: 0.3seg;
                }
            }
        }
    }
}
.escritorio {
    .contenedor-estilo-movil {
        background-color: #F7F8FB;
        .logo-wabot-movil {
            .logo-wabot  {
                position: relative;
                img {
                    display: none;
                }
                .logo-escritotio {
                    display: flex !important;
                    position: absolute;
                    left: 70px;
                    top: 8px;
                }
            }
        }
        .boton-movil {
            position: relative;

            .boton-iniciar {
                position: absolute;
                right: 50px;
            }
        }
    }
}
</style>
