<template>
    <b-container fluid class="m-0 p-0">
      <b-row class="m-0 p-0">
        <b-col class="m-0 p-0">
          <div class="contenedor-principal">
            <seccion1 />
            <seccion2 />
            <seccion3 />
            <seccion4 />
            <Footer />
          </div>
        </b-col>
      </b-row>
      <modal />
    </b-container>
</template>

<script>
import seccion1 from '@/components/seccion1.vue'
import Footer from '@/components/seccionFooter.vue'
import seccion2 from '@/components/seccion2.vue'
import seccion3 from '@/components/seccion3.vue'
import seccion4 from '@/components/seccion4.vue'

import modal from '@/components/Modales/modalInformacion.vue'
export default {
  name: 'Landingpage',
  components: {
    seccion1,
    Footer,
    seccion2,
    seccion3,
    seccion4,
    modal
  },
  data () {
    return {
    }
  },
  methods: {
  }
}
</script>

<style lang="scss">
.contenedor-principal {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  border-radius: 0;
  background-color: transparent;
  display: block;
}
</style>
