<template>
    <b-container fluid class="contenedor-principal-campaña">
        <b-row class="contenedor-contenido-movil">
            <b-col cols="12" class="contenedor-principal-imagen">
                <div class="contenedor-imagen-movil">
                    <img src="../../assets/Wabot/Campañas.png" alt="">
                </div>
            </b-col>
            <b-col cols="12" class="contenedor-principal-botones">
                <div class="contenedor-botones-atras-movil">
                    <button class="atras" v-on:click="volverSubSeccion2()">
                        <img src="../../assets/Wabot/Flecha iz normal.svg" alt="">
                        <img src="../../assets/Wabot/Flecha iz hover.svg" alt="">
                    </button>
                    <button class="adelante" v-on:click="pasarSubSeccion1()">
                        <img src="../../assets/Wabot/Flecha der normal.svg" alt="">
                        <img src="../../assets/Wabot/Flecha der hover.svg" alt="">
                    </button>
                </div>
            </b-col>
            <b-col cols="12" class="conetedor-principal-info">
                <div class="info-arbol-movil">
                    <div class="logo-arbol">
                        <img src="../../assets/Wabot/Campañas icono.svg" alt="">
                    </div>
                    <div class="titulo">
                        <p>Campañas</p>
                    </div>
                    <div class="descripcion">
                        <p>Envío de campañas personalizadas a todos tus contactos.</p>
                    </div>
                    <div class="boton-probar">
                        <button class="probar">Probar</button>
                    </div>
                </div>
            </b-col>
            <b-col cols="12" class="contenedor-principal-circulos">
                <div class="circulo"></div>
                <div class="circulo"></div>
                <div class="circulo-activo"></div>
            </b-col>
        </b-row>
        <b-row class="contenedor-contenido-escritorio">
            <b-col cols="12" md="6" class="conetedor-principal-info">
                <button class="atras" v-on:click="volverSubSeccion2()">
                    <img src="../../assets/Wabot/Flecha iz normal.svg" alt="">
                    <img src="../../assets/Wabot/Flecha iz hover.svg" alt="">
                </button>
                <div class="info-arbol-movil">
                    <div class="logo-arbol">
                        <img src="../../assets/Wabot/Campañas icono.svg" alt="">
                    </div>
                    <div class="titulo">
                        <p>Campañas</p>
                    </div>
                    <div class="descripcion">
                        <p>Envío de campañas personalizadas a todos tus contactos.</p>
                    </div>
                    <div class="boton-probar">
                        <button class="probar">Probar</button>
                    </div>
                </div>
            </b-col>
            <b-col cols="12" md="6" class="contenedor-principal-imagen">
                <div class="contenedor-imagen-movil">
                    <img src="../../assets/Wabot/Campañas.png" alt="">
                </div>
            </b-col>
            <b-col cols="12" md="12" class="contenedor-principal-circulos">
                <div class="circulo"></div>
                <div class="circulo"></div>
                <div class="circulo-activo"></div>
            </b-col>
        </b-row>
    </b-container>
</template>

<script>
export default {
  name: 'subSeccion3',
  mounthed () {
    this.AjusteResponsive()
  },
  created () {
    window.addEventListener('resize', this.AjusteResponsive)
  },
  destroyed () {
    window.removeEventListener('resize', this.AjusteResponsive)
  },
  methods: {
    volverSubSeccion2: function () {
      this.$emit('volverSubSeccion2')
    },
    pasarSubSeccion1: function () {
      this.$emit('pasarSubSeccion1')
    },
    AjusteResponsive () {
      var ancho = screen.width
      var contenedor = document.getElementsByClassName('contenedor-principal-campaña')
      if (ancho >= 780) {
        contenedor[0].classList.add('escritorio')
      } else {
        contenedor[0].classList.remove('escritorio')
      }
    }
  }
}
</script>

<style scoped lang="scss">
.contenedor-principal-campaña {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    border-radius: 0;
    background-color: transparent;

    .contenedor-contenido-movil {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 53px 0 0 0;
        border: 0;
        border-radius: 0;
        background-color: transparent;

        .contenedor-principal-imagen {
            width: auto;
            height: 32%;
            margin: 0;
            padding: 0;
            border: 0;
            border-radius: 0;
            background-color: transparent;

            .contenedor-imagen-movil {
                width: auto;
                height: auto;
                margin: 0;
                padding: 0;
                border: 0;
                border-radius: 0;
                background-color: transparent;
                display: flex;
                justify-content: center;

                img {
                    width: 300px;
                    height: 300px;
                    margin: 0;
                    padding: 0;
                    border: 0;
                    border-radius: 0;
                    background-color: transparent;
                }
            }
        }
        .contenedor-principal-botones {
            width: auto;
            height: 10%;
            margin: 0;
            padding: 0;
            border: 0;
            border-radius: 0;
            background-color: transparent;

            .contenedor-botones-atras-movil {
                width: auto;
                height: auto;
                margin: 0;
                padding: 0;
                border: 0;
                border-radius: 0;
                background-color: transparent;
                display: flex;
                outline: none;
                .atras {
                    width: 44px;
                    height: 44px;
                    margin: 0 0 0 11px;
                    padding: 0;
                    border: 0;
                    border-radius: 0;
                    background-color: transparent;
                    display: flex;

                    & > :nth-child(2) {
                        display: none;
                    }

                    &:hover {
                        & > :nth-child(1) {
                            display: none;
                        }

                        & > :nth-child(2) {
                            display: flex;
                        }
                    }
                    img {
                        width: 44px;
                        height: 44px;
                        margin: 0;
                        padding: 0;
                        border: 0;
                        border-radius: 0;
                        background-color: transparent;
                    }
                }
                .adelante {
                    width: 44px;
                    height: 44px;
                    margin: 0 20px 0 auto;
                    padding: 0;
                    border: 0;
                    border-radius: 0;
                    background-color: transparent;
                    display: flex;

                    & > :nth-child(2) {
                        display: none;
                    }

                    &:hover {
                        & > :nth-child(1) {
                            display: none;
                        }

                        & > :nth-child(2) {
                            display: flex;
                        }
                    }
                    img {
                        width: 44px;
                        height: 44px;
                        margin: 0;
                        padding: 0;
                        border: 0;
                        border-radius: 0;
                        background-color: transparent;
                    }
                }
            }
        }
        .conetedor-principal-info {
            width: auto;
            height: 40%;
            margin: 0;
            padding: 0;
            border: 0;
            border-radius: 0;
            background-color: transparent;
            .info-arbol-movil {
                width: 100%;
                height: 100%;
                margin: 0;
                padding: 0;
                border: 0;
                border-radius: 0;
                background-color: transparent;
                display: block;

                .logo-arbol {
                    width:auto;
                    height: auto;
                    margin: 0;
                    padding: 0;
                    border: 0;
                    border-radius: 0;
                    background-color: transparent;
                    display: flex;
                    justify-content: center;

                    img {
                        width: 37px;
                        height: 26px;
                        margin: 0;
                        padding: 0;
                        border: 0;
                        border-radius: 0;
                        background-color: transparent;
                    }
                }
                .titulo {
                    width: auto;
                    height: auto;
                    margin: 18px 0 0 0;
                    padding: 0;
                    border: 0;
                    border-radius: 0;
                    background-color: transparent;
                    display: flex;
                    justify-content: center;

                    p{
                        text-align: center;
                        font-size: 38px;
                        font-weight: 400;
                        color: #375078;
                    }
                }
                .descripcion {
                    width: auto;
                    height: auto;
                    margin: 26px 0 0 0;
                    padding: 0;
                    border: 0;
                    border-radius: 0;
                    background-color: transparent;

                    p {
                        text-align: center;
                        font-size: 16px;
                        font-weight: 400;
                        color: #656565;
                    }
                }
                .boton-probar {
                    width: auto;
                    height: auto;
                    margin: 26px 0 0 0;
                    padding: 0;
                    border: 0;
                    border-radius: 0;
                    background-color: transparent;
                    display: flex;
                    justify-content: center;

                    .probar {
                        width: 133px;
                        height: 40px;
                        margin: 0;
                        padding: 0;
                        border: 0;
                        border-radius: 5px;
                        background-color: #7139CB;
                        text-align: center;
                        font-size: 16px;
                        font-weight: 400;
                        color: #ffffff;
                    }
                }
            }
        }
        .contenedor-principal-circulos {
            width: 100%;
            height: auto;
            margin: 0;
            padding: 0;
            border: 0;
            border-radius: 0;
            background-color: transparent;
            display: flex;
            justify-content: center;

            .circulo-activo {
                width: 12px;
                height: 12px;
                margin: 0 11px 0 0;
                padding: 0;
                border: 0;
                border-radius: 50%;
                background-color: #7139CB;
                box-shadow: 5px 5px 4px #00000026;
            }
            .circulo {
                width: 12px;
                height: 12px;
                margin: 0 11px 0 0;
                padding: 0;
                border: 0;
                border-radius: 50%;
                background-color: #FFFFFF;
                box-shadow: 5px 5px 4px #00000026;
            }
        }
    }
    .contenedor-contenido-escritorio {
        width: 100%;
        height: 90%;
        margin: 0;
        padding: 53px 0 0 0;
        border: 0;
        border-radius: 0;
        background-color: transparent;
        display: none;

        .contenedor-principal-imagen {
            width: auto;
            height: 100%;
            margin: 0;
            padding: 0;
            border: 0;
            border-radius: 0;
            background-color: transparent;
            display: flex;
            justify-content: center;
            align-items: center;

            .contenedor-imagen-movil {
                width: auto;
                height: auto;
                margin: 0;
                padding: 0;
                border: 0;
                border-radius: 0;
                background-color: transparent;
                display: flex;

                img {
                    width: 423px;
                    height: 423px;
                    margin: 0;
                    padding: 0;
                    border: 0;
                    border-radius: 0;
                    background-color: transparent;
                }
            }
        }
        .conetedor-principal-info {
            width: auto;
            height: 100%;
            margin: 0;
            padding: 0;
            border: 0;
            border-radius: 0;
            background-color: transparent;
            display: flex;
            align-items: center;
            .atras {
                width: 44px;
                height: 44px;
                margin: 0 0 0 57px;
                padding: 0;
                border: 0;
                border-radius: 0;
                background-color: transparent;
                display: flex;

                & > :nth-child(2) {
                    display: none;
                }

                &:hover {
                    & > :nth-child(1) {
                        display: none;
                    }

                    & > :nth-child(2) {
                        display: flex;
                    }
                }
                img {
                    width: 44px;
                    height: 44px;
                    margin: 0;
                    padding: 0;
                    border: 0;
                    border-radius: 0;
                    background-color: transparent;
                }
            }
            .info-arbol-movil {
                width: 100%;
                height: 100%;
                margin: 0;
                padding: 270px 0 0 60px;
                border: 0;
                border-radius: 0;
                background-color: transparent;
                display: block;

                .logo-arbol {
                    width:auto;
                    height: auto;
                    margin: 0;
                    padding: 0;
                    border: 0;
                    border-radius: 0;
                    background-color: transparent;

                    img {
                        width: 42px;
                        height: 32px;
                        margin: 0;
                        padding: 0;
                        border: 0;
                        border-radius: 0;
                        background-color: transparent;
                    }
                }
                .titulo {
                    width: auto;
                    height: auto;
                    margin: 18px 0 0 0;
                    padding: 0;
                    border: 0;
                    border-radius: 0;
                    background-color: transparent;

                    p{
                        text-align: left;
                        font-size: 38px;
                        font-weight: 400;
                        color: #375078;
                    }
                }
                .descripcion {
                    width: auto;
                    height: auto;
                    margin: 26px 0 0 0;
                    padding: 0;
                    border: 0;
                    border-radius: 0;
                    background-color: transparent;

                    p {
                        text-align: left;
                        font-size: 16px;
                        font-weight: 400;
                        color: #656565;
                    }
                }
                .boton-probar {
                    width: auto;
                    height: auto;
                    margin: 26px 0 0 0;
                    padding: 0;
                    border: 0;
                    border-radius: 0;
                    background-color: transparent;

                    .probar {
                        width: 133px;
                        height: 40px;
                        margin: 0;
                        padding: 0;
                        border: 0;
                        border-radius: 5px;
                        background-color: #7139CB;
                        text-align: center;
                        font-size: 16px;
                        font-weight: 400;
                        color: #ffffff;
                    }
                }
            }
        }
        .contenedor-principal-circulos {
            width: 100%;
            height: auto;
            margin: 0;
            padding: 0;
            border: 0;
            border-radius: 0;
            background-color: transparent;
            display: flex;
            justify-content: center;

            .circulo-activo {
                width: 12px;
                height: 12px;
                margin: 0 11px 0 0;
                padding: 0;
                border: 0;
                border-radius: 50%;
                background-color: #7139CB;
                box-shadow: 5px 5px 4px #00000026;
            }
            .circulo {
                width: 12px;
                height: 12px;
                margin: 0 11px 0 0;
                padding: 0;
                border: 0;
                border-radius: 50%;
                background-color: #FFFFFF;
                box-shadow: 5px 5px 4px #00000026;
            }
        }
    }
}
.escritorio {
    .contenedor-contenido-movil {
        display: none;
    }
    .contenedor-contenido-escritorio {
        display: flex;
    }
}
</style>
