<template>
    <div class="contenedor-principal-modal-info">
      <div class="circulo-morado">
      </div>
      <div class="cuerpo-modal">
        <div class="encabezado-modal">
          <img src="../../assets/Wabot/Wabot icono.svg" alt="">
        </div>
        <div class="titulo-modal">
          <p>Recibe más información</p>
        </div>
        <div class="contenedor-inputs">
          <input type="text" placeholder="Nombre">
          <input type="text" placeholder="Email">
          <input type="text" placeholder="Número de teléfono">
        </div>
        <div class="boton-suscribir">
          <button class="suscribirse" v-on:click="desactivarModal">Suscribirse</button>
        </div>
      </div>
      <div class="circulo-azul"></div>
    </div>
</template>

<script>
export default {
  name: 'Modal',
  mounthed () {
    this.AjusteResponsive()
  },
  created () {
    window.addEventListener('resize', this.AjusteResponsive)
  },
  destroyed () {
    window.removeEventListener('resize', this.AjusteResponsive)
  },
  methods: {
    desactivarModal: function () {
      var modal = document.getElementsByClassName('contenedor-principal-modal-info')

      modal[0].classList.remove('d-flex')
    },
    AjusteResponsive () {
      var ancho = screen.width
      var contenedor = document.getElementsByClassName('contenedor-principal-modal-info')
      if (ancho <= 780) {
        contenedor[0].classList.add('movil')
      } else {
        contenedor[0].classList.remove('movil')
      }
    }
  }
}
</script>

<style scoped lang="scss">
.contenedor-principal-modal-info {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 90px 0 0 0;
  border: 0;
  border-radius: 0;
  background-color: #000000b0;
  display: none;
  position: absolute;
  justify-content: center;
  top: 0;
  z-index: 100;
  .circulo-morado {
    width: 60px;
    height: 60px;
    margin: 0;
    padding: 0;
    border: 0;
    border-radius: 50%;
    background-color: #8768DE;
    box-shadow: 0px 3px 6px #00000073;
    position: absolute;
    bottom: 80px;
    left: 450px;
    z-index: 150;
  }
  .cuerpo-modal {
    width: 431px;
    height: 535px;
    margin: 0;
    padding: 0;
    border: 0;
    border-radius: 9px 9px 9px 150px;
    background-color: #ffffff;
    z-index: 200;
    display: block;

    .encabezado-modal {
      width: auto;
      height: auto;
      margin: 38px 0 0 0;
      padding: 0;
      border: 0;
      border-radius: 0;
      background-color: transparent;
      display: flex;
      justify-content: center;
    }
    .titulo-modal {
      width: auto;
      height: auto;
      margin: 27px 0 0 0;
      padding: 0;
      border: 0;
      border-radius: 0;
      p {
        text-align: center;
        font-size: 26px;
        font-weight: 400;
        color: #464E5A;
      }
    }
    .contenedor-inputs {
      width: auto;
      height: 200px;
      margin: 0;
      padding: 0;
      border: 0;
      border-radius: 0;
      background-color: transparent;
      display: block;

      input {
        width: 222px;
        height: 40px;
        margin: 30px 0 0 100px;
        padding: 5px 0 0 14px;
        border: 1px solid #D1D5E9;
        border-radius: 5px;
        background-color: #ffffff;
        text-align: left;
        font-size: 14px;
        font-weight: 400;
        color: #A6AAB2;
      }
    }
    .boton-suscribir {
      width: auto;
      height: auto;
      margin: 60px 0 0 0;
      padding: 0;
      border: 0;
      border-radius: 0;
      background-color: transparent;
      display: flex;
      justify-content: center;

      .suscribirse {
        width: 130px;
        height: 45px;
        margin: 0;
        padding: 0;
        border: 0;
        border-radius: 5px;
        background-color: #7139CB;
        text-align: center;
        font-size: 16px;
        font-weight: 400;
        color: #ffffff;
        outline: none;

        &:hover {
          background-color: #ffffff;
          color: #7139CB;
          border: 1px solid #7139CB;
        }
      }
    }
  }
  .circulo-azul {
    width: 107px;
    height: 107px;
    margin: 0;
    padding: 0;
    border: 0;
    border-radius: 50%;
    background-color: #06ACB0;
    box-shadow: 0px 3px 6px;
    z-index: 250;
    position: absolute;
    bottom: 40px;
    left: 466px;
  }
}
.movil {
  .circulo-morado {
    position: absolute;
    bottom: 210px;
    left: 10px;
    z-index: 150;
  }
  .cuerpo-modal {
    width: 300px;
    height: 450px;
    .encabezado-modal {
      margin: 27px 0 0 0;
    }
    .titulo-modal {
      margin: 5px 0 0 0;
    }
    .contenedor-inputs {
      input {
        margin: 20px 0 0 50px;
      }
    }
    .boton-suscribir {
      margin: 20px 0 0 0;
    }
  }
  .circulo-azul {
    z-index: 250;
    position: absolute;
    bottom: 130px;
    left: -9px;
  }
}
</style>
